brotli==1.0.9
brotlipy==0.7.0
ConfigParser==5.3.0
cryptography
Cython==0.29.34
dl==0.1.0
docutils==0.19
Flask==2.2.3
HTMLParser==0.0.2
importlib_metadata==6.0.0
keyring==23.13.1
lockfile==0.12.2
lxml==4.6.4
monotonic==1.6
numpy==1.21.4
ordereddict==1.1
pyOpenSSL
tornado==6.2
flask-cors
Flask-reCaptcha==0.4.2
